#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 auto;
 
}




.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-1 {
  animation-delay: 0.5s;
}
.animation-delay-2 {
  animation-delay: 1s;
}
